#ListaCanciones {
  margin-top: 50px;
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.m-auto {
  margin: 0 !important;
}
.td__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group {
  margin: 0;
}
.input__error {
  margin: 0;
  color: red;
  font-weight: 600;
}

.input__exito {
  margin: 0;
  color: #14cc14;
  font-weight: 700;
}
